#about {
    background: var(--main-bg-color);
    color: var(--main-fg-color);
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(20, 1fr);
}

.About__text {
    grid-column: 2 / 6;
    grid-row: 8 / 13;
}

.AboutTitle__container {
    height: 7em;
}

.About__title {
    height: 100%;
    color: var(--hover-color);
    font-weight: 500;
    font-size: 6em;
}

.About__content {
    font-size: 1.5em;
    transition: 200ms ease;
}

.About__image {
    grid-column: 7 / 10;
    grid-row: 5 / 10;
}