#about {
    background: var(--main-bg-color);
    color: var(--main-fg-color);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.About__text {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.AboutTitle__container {
    height: 7em;
}

.About__title {
    color: var(--hover-color);
    font-weight: 500;
    font-size: 6em;
}

.About__content {
    font-size: 1.5em;
    transition: 200ms ease;
}

.About__image {
    width: 22rem;
}