#contact {
    width: 100%;
    display: flex;
    justify-content: center;
    background: var(--main-bg-color);
    color: var(--main-fg-color);
    padding-bottom: 4em;
}

.ContactTitle__container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.Icon__contact {
    width: 3em;
    color: var(--hover-color);
}

.ContactText__container {
    width: 50%;
    padding: 0 5vh 0 20vh;
}

.Warning__container {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.Icon__warning {
    width: 20px;
    color: lime;
}

.ContactText__title {
    font-weight: 500;
    font-size: 3em;
}

.ContactText__subtitle{
    margin-bottom: 15px;
}

.ContactForm__container {
    width: 50%;
}

.ContactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
}

.InputForm {
    height: 40px;
    width: 300px;
    margin-bottom: 15px;
    padding: 7px 5px;
    color: var(--main-fg-color);
    background-color: var(--main-color);
    border: solid 1px var(--submain-bg-color);
    box-shadow: 4px 4px 0px 0px var(--submain-bg-color);
    transition: 200ms ease;
}

.InputForm:focus {
    outline: none;
}

.InputForm::placeholder {
    color: var(--main-fg-color);
}

.MessageBox {
    resize: none;
    height: 60px;
}

.SubmitButton {
    border-style: none;
    cursor: pointer;
    height: 35px;
    color: var(--main-fg-color);
    background-color: var(--main-bg-color);
    border: solid 1px var(--submain-bg-color);
    box-shadow: 4px 4px 0px 0px var(--submain-bg-color);
    width: 150px;
    transition: 200ms ease;
    margin-bottom: 8px;
}

.SubmitButton:hover {
    width: 170px;
    color: var(--hover-color);
}

@media only screen and (max-width: 950px) {
    #contact {
        flex-direction: column;
    }

    .ContactText__container {
        width: 100%;
        padding: 1em;
    }

    .ContactText__title {
        text-align: center;
    }

    .Icon__warning {
        width: 25px;
    }

    .ContactForm__container {
        width: 100%;
    }

    .ContactForm {
        margin: 0;
    }
}