#projects {
    width: 100%;
    background: var(--submain-bg-color);
}

.Projects__title-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Icon__projects {
    width: 7em;
    color: var(--hover-color);
}

.Projects__title,
.Projects__subtitle {
    color: var(--main-fg-color);
}

.Projects__title {
    font-weight: 500;
    font-size: 3em;
}

.Projects__subtitle {
    font-size: 1.5em;
}