#techstack {
    width: 100%;
    color: var(--main-fg-color);
    background: var(--main-bg-color);
    padding-bottom: 3em;
}

.Techstack__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Icon__techstack {
    width: 7em;
    color: var(--hover-color);
}

.Techstack__title {
    font-weight: 500;
    font-size: 3em;
}

.Techstack__subtitle {
    font-size: 1.5em;
}

.Techstack__list {
    width: 100%;
    padding: 1em 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.TechstackItem__container {
    width: 40%;
    padding: 0.6em;
}

.TechItem {
    padding: 0 2em;
    height: 2.5em;
    display: flex;
    align-items: center;
    background-color: var(--main-bg-color);
    border: solid 1px var(--submain-bg-color);
    box-shadow: 4px 4px 0px 0px var(--submain-bg-color);
}

.TechItem i {
    font-size: 28px;
    transition: 200ms ease;
    margin-right: 0.6em;
}

.TechItem:hover i {
    color: var(--hover-color);
}

.TechItem p {
    font-weight: 300;
    transition: 200ms ease;
}