* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}

body {
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
  }

.light {
    --header-bg-color: #BDD5EA;
    --main-bg-color: #F7F7F0;
    --submain-bg-color: #BDD5DF;
    --main-fg-color: #495867;
    --hover-color: #FE5F55;
}

.dark {
    --header-bg-color: #101728;
    --main-bg-color: #1e2838;
    --submain-bg-color: #101728;
    --main-fg-color: #EEE;
    --hover-color: #8cf000;
}