* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.light {
    --main-bg-color: #BDD5EA;
    --main-fg-color: #495867;
    --navbar-divline-color: #577399;
    --hover-color: #FE5F55;
}

.dark {
    --main-bg-color: #222831;
    --main-fg-color: #E8E8E8;
    --navbar-divline-color: #30475E;
    --hover-color: #F05454;
}